/* Jackson Hagood | jacksonhagood.com */

/* fonts */

@font-face {
    font-family: Bank;
    src: url("../Fonts/BankGothic.ttf")
}

@font-face {
    font-family: Noto;
    src: url("../Fonts/NotoSans.ttf")
}

/* body */

body {
    background-color: #252525;
    margin: 0;
}

/* header & navigation */

header {
    height: 100%;
    width: 100%;
    outline: solid 12.5px #000000;
    outline-offset: -12.5px;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    z-index: 1;
}

.navigation {
    background-color: #000000;
}

.navigation a, .profile span {
    background-color: #000000;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: Bank;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin-right: 45px;
    padding: 0px 20px 0px 20px;
    pointer-events: all;
    margin-left: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a::before {
    border-right: 50px solid #000000;
    border-top: 50px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -50px;
    position: absolute;
    width: 0;
}

.navigation a::after, .profile span::after {
    border-right: 50px solid transparent;
    border-top: 50px solid #000000;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -50px;
    top: 0;
    width: 0; 
}

.navigation a:hover, .profile span:hover {
    background: #FFFFFF;
    color: #000000;
}

.navigation a:hover::before {
    border-right: 50px solid #FFFFFF;
    border-top: 50px solid transparent;
}

.navigation a:hover::after, span:hover::after {
    border-right: 50px solid transparent;
    border-top: 50px solid #FFFFFF;
}

/* article */

article {
    color: #FFFFFF;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    top: 0;
}

article p {
    font-family: Noto;
    font-size: 20px;
}

article h2 {
    font-family: Noto;
    font-size: 25px;
}

article img {
    width: 100%;
}

article li {
    font-family: Noto;
    font-size: 20px;
}

article hr {
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
}

article iframe {
    border: none;
}

article table {
    border-collapse: collapse;
    font-family: Noto;
    width: 100%;
}

article td {
    background-color: #252525DD;
    color: #FFFFFF;
}

article tr:hover td {
    background-color: #FFFFFFDD;
    color: #252525;
}

article th {
    background-color: #FFFFFFDD;
    color: #252525;
}

article td, article th {
    padding: 10px;
    text-align: left;
}

/* blocking */

.center {
    clear: both;
    padding: 20px 0px 20px 0px;
    width: 100%;
}

.left {
    float: left;
    overflow: hidden;
}

.right {
    float: right;
    overflow: hidden;
}

.half {
    width: 49%;
}

.onequarter {
    width: 24%;
}

.threequarters {
    width: 74%;
}

/* page title */

.title {
    height: 200px;
    padding: 0px;
    margin: 20px 0px 20px 0px;
}

.title h1 {
    background-size: cover;
    font-family: Bank;
    font-size: 80px;
    font-weight: normal;
    line-height: 200px;
    margin: 0px;
    text-align: center; 
    width: 100%;
}

/* links section */

.links {
    float: left;
    width: 100%;
}

.links h1 {
    float: left;
    font-family: Noto;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
}

.links a {
    float: right;
    margin: 5px;
}

.links a:hover {
    filter: opacity(50%);
}

.links img {
    width: 50px;
}

/* slideshow */

.slideshow img {
    pointer-events: none;
    vertical-align: middle;
    width: 100%;
}

.slide {
    display: none;
}

.slideshow {
    margin: auto;
    position: relative;
    width: 75%;
    z-index: 0;
}

.prev, .next {
    cursor: pointer;
    font-size: 64px;
    margin-top: -64px;
    padding: 32px;
    position: absolute;
    top: 50%;
    user-select: none;
    width: auto;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: #FFFFFF;
}

.caption {
    bottom: 16px;
    cursor: default;
    font-family: Noto;
    font-size: 16px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.caption:hover {
    color: #FFFFFF;
}

.number {
    cursor: default;
    font-family: Noto;
    font-size: 16px;
    padding: 16px 16px;
    position: absolute;
    top: 0;
}

.number:hover {
    color: #FFFFFF;
}

/* image */

/* colors */

.red {
    color: #EE5555;
}

.green {
    color: #55EE55;
}

.yellow {
    color: #EEEE55;
}

.pink {
    color: #EE55EE;
}

/* index page */

.index {
    background-attachment: fixed;
    background-image: url("../Images/BlueWaves.jpg");
    background-size: cover;
}

.jackson {
    padding-top: 40px;
    pointer-events: none;
    width: 100%;
}

.about {
    width: 49%;
    height: 500px;
}

.portrait {
    border-radius: 0;
    width: 100%;
    object-fit: cover;
    height: 500px;
}

/* programming page */

.icon {
    background-color: #252525;
    width: 100%;
}

.programming {
    background-attachment: fixed;
    background-image: url("../Images/BlueTriangles.jpg");
    background-size: cover;
}

/* interests page */

.interests {
    background-attachment: fixed;
    background-image: url("../Images/Gradient.jpg");
    background-size: cover;
}

/* resume page */

.resume {
    background-attachment: fixed;
    background-image: url("../Images/Cubes.jpg");
    background-size: cover;
}

/* footer */

footer {
    height: 50px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 2;
}

footer button {
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-family: Bank;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin-left: 45px;
    padding: 0px 20px 0px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

footer button::before {
    border-right: 50px solid #000000;
    border-top: 50px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -50px;
    position: absolute;
    width: 0;
}

footer button::after {
    border-right: 50px solid transparent;
    border-top: 50px solid #000000;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -50px;
    top: 0;
    width: 0; 
}

footer button:hover {
    background: #FFFFFF;
    color: #000000;
}

footer button:hover::before {
    border-right: 50px solid #FFFFFF;
    border-top: 50px solid transparent;
}

footer button:hover::after {
    border-right: 50px solid transparent;
    border-top: 50px solid #FFFFFF;
}
