// colors
$gradient_color_a: #0020FFFF;
$gradient_color_b: #00FFFFFF;

$terminal_color:        #10101020;
$terminal_text_color:   #FFFFFFFF;
$terminal_shadow_color: #FFFFFF8A;

// fonts
$font_mono: "Courier New", "Consolas", "Monaco", monospace;
$font_size: 28px;

// images
$background_image: url("../../public/images/triangles.png");
