// colors
$background_color_a: #00D4FFFF;
$background_color_b: #0001c4FF;
$terminal_color: #000000FF;
$terminal_text_color: #FFFFFFFF;
$terminal_shadow_color: #101080;
$clickable_text_color: #00D4FFFF;

// fonts
$font_mono: "Courier New", "Consolas", "Monaco", monospace;
$font_size: 28px;

// images
$background_image: url("../../public/images/hex.png")
