@import "./constants.scss";

*{
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient($background_color_a, $background_color_b);
  font-family: $font_mono;
  font-size: $font_size;
  white-space: pre-wrap;
}

.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Terminal {
  background-color: $terminal_color;
  color: $terminal_text_color;
  box-shadow: 10px 10px 5px 0px $terminal_shadow_color;
}

.Clickable {
  color: $clickable_text_color;
  cursor: pointer;
}
