@import "./constants.scss";

*{
  margin: 0;
  padding: 0;
}

.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-image: $background_image;
  background-size: cover;
}

.Terminal {
  background: $terminal_color;
  backdrop-filter: blur(50px);
  box-shadow: 0px 0px 20px 5px $terminal_shadow_color;

  font-family: $font_mono;
  font-size: $font_size;
  white-space: pre-wrap;
  color: $terminal_text_color;
}

.Clickable {
  background-image: linear-gradient(45deg, $gradient_color_a, $gradient_color_b);
  background-clip: text;

  color: transparent;
  font-weight: bold;

  cursor: pointer;
}
